		* {
			margin: 0px;
			padding: 0px;
		}

		body {
			background-color: #EFEEEA;
			font-family: "DM Sans", serif;
		}

		hr {
			border: 3px solid #000000;
		}

		.container {
			background-color: #D5CBBF;
			text-align: center;
			padding: 30px;
		}

		.container h1 {
			color: #29353C;
			font-family: "DM Serif Display", serif;
		}

		.container p {
			color: #44576D;
		}

		.container h5 {
			color: #29353C;
		}

		.about img {
			width: 400px;
		}

		@media (max-width: 768px) {
  			.about img {
    			max-width: 300px;
  			}
		}

		.navbar {
        		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
   		}

    		.navbar::after {
	        	content: '';
	        	display: block;
	        	height: 7px;
			background-color: #768A96;
	        	width: 100%;
	        	position: absolute;
	        	bottom: 0;
	        	left: 0;
    		}

		.navbar-brand img {
			width: 70px;
		}

		.navbar-brand span {
			color: #FFFFFF;
			font-family: "Roboto Mono", serif;
		}

		.nav-link {
	    		color: #BCC7CA;
	    		position: relative;
	    		margin: 5px;
	    		transition: color 0.3s ease;
		}

		.nav-link:hover {
	    		color: #FFFFFF;
		}

		.nav-link::after {
	    		content: "";
	    		position: absolute;
	    		bottom: -5px;
	    		left: 50%;
	    		width: 0;
	    		height: 3px;
	    		background-color: #BCC7CA;
	    		transform: translateX(-50%);
	    		transition: width 0.3s ease;
		}

		.nav-link:hover::after {
    			width: 100%;
		}

		.nav-link.active {
	    		color: #000000;
	    		pointer-events: none;
	    		cursor: default;
		}

		.nav-link.active::after {
	    		width: 100%;
	    		background-color: #000000;
		}

		.hero {
			background-image: url('hero.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 80vh;
			display: flex;
			align-items: center;
			position: relative;
		}
		
		.hero::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}

		.hero .container {
			background-color: #ffffff;
			box-shadow: 4px 6px 10px #000000;
			z-index: 1;
		}
		
		.hero h1 {
			font-size: 50px;
			font-weight: bold;
		}
		
		.hero p {
			font-size: 20px;
			margin-bottom: 20px;
		}

		.header {
			background-color: #F0DDD6;
		}

		.main {
			background-color: #D2DDD3;
		}

		.card img {
			width: 100%;
    		height: 400px;
    		object-fit: cover;
		}

		@media (max-width: 768px) {
  			.card img {
    			height: 200px;
  			}
		}

		@media (max-width: 576px) {
  			.card img {
    			height: 300px;
  			}
		}

		.footer {
			text-align: center;
			background-color: #96B3AE;
			font-family: "Roboto Mono", serif;
			color: #D2E0D3;
			margin-top: auto;
			bottom: 0;
			padding: 50px;
			width: 100%;
		}
